body {
    top: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.p1, .p2, .p3, .p4, .p5 {
    display: flex;
    padding: 2%; 
}

.p1, .p5 {
    color: #F9FAF8;
    background-color: #1F2937;
}

.p2 {
    color: #1F2937;
}

.p3 {
    color: #1F2937;
    background-color: #E5E7EB;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* Style Section 1 */
.b1 {
    justify-content: space-between;
}

.b2 {
    justify-content: center;
}

.h1 {
    font-size: 24px;
    font-weight: 900;
    flex: 1;
}

.h2 {
    font-size: 18px;
    color: #E5E7EB;
    gap: 15px;
    flex: 1;
}


.c1a {
    font-size: 48px;
    font-weight: 900;
}

.c1b {
    font-size: 18px;
    color: #E5E7EB;
}